# DCL(Data Control Language, 데이터 제어어)

### Connect DataBase (MySQL)

In [1]:
%load_ext sql

%sql mysql+pymysql://Choonsik:ssafy0000@localhost:3306/sqld

## USER 관련 명령어

### CREATE USER
사용자를 생성하는 명령어

### CREATE USER username IDENTIFIED BY 'password';

In [2]:
%%sql

CREATE USER Choonsik2
IDENTIFIED BY 'ssafy0002'
;

 * mysql+pymysql://Choonsik:***@localhost:3306/sqld
0 rows affected.

[]

### User List

In [3]:
%%sql

SELECT User, Host
FROM mysql.user
;

 * mysql+pymysql://Choonsik:***@localhost:3306/sqld
8 rows affected.

[('Choonsik', '%'),
 ('Choonsik2', '%'),
 ('JP', '%'),
 ('관리자', '%'),
 ('mysql.infoschema', 'localhost'),
 ('mysql.session', 'localhost'),
 ('mysql.sys', 'localhost'),
 ('root', 'localhost')]

In [4]:
%%sql df <<

SELECT User, Host
FROM mysql.user
;

 * mysql+pymysql://Choonsik:***@localhost:3306/sqld
8 rows affected.
Returning data to local variable df

In [5]:
import pandas as pd

df = pd.DataFrame(df)
df

               User       Host
0          Choonsik          %
1         Choonsik2          %
2                JP          %
3               관리자          %
4  mysql.infoschema  localhost
5     mysql.session  localhost
6         mysql.sys  localhost
7              root  localhost

If MySQL >= 5.7.6, can see User List with Authorities.

In [6]:
%%sql df <<

SELECT *
FROM information_schema.user_privileges
;

 * mysql+pymysql://Choonsik:***@localhost:3306/sqld
185 rows affected.
Returning data to local variable df

In [7]:
import pandas as pd

df = pd.DataFrame(df)
df

,GRANTEE,TABLE_CATALOG,PRIVILEGE_TYPE,IS_GRANTABLE
0,'mysql.infoschema'@'localhost',def,SELECT,NO
1,'mysql.infoschema'@'localhost',def,AUDIT_ABORT_EXEMPT,NO
2,'mysql.infoschema'@'localhost',def,FIREWALL_EXEMPT,NO
3,'mysql.infoschema'@'localhost',def,SYSTEM_USER,NO
4,'mysql.session'@'localhost',def,SHUTDOWN,NO
...,...,...,...,...
180,'관리자'@'%',def,SELECT,NO
181,'관리자'@'%',def,INSERT,NO
182,'관리자'@'%',def,UPDATE,NO
183,'관리자'@'%',def,DELETE,NO
184,'Choonsik2'@'%',def,USAGE,NO

### ALTER USER
사용자의 정보를 변경하는 명령어

### ALTER USER username IDENTIFIED BY password;

In [8]:
%%sql

ALTER USER Choonsik2
IDENTIFIED BY 'ssafy0000'
;

 * mysql+pymysql://Choonsik:***@localhost:3306/sqld
0 rows affected.

[]

### DROP USER
사용자를 삭제하는 명령어

### DROP USER username;

In [9]:
%%sql

DROP USER Choonsik2
;

 * mysql+pymysql://Choonsik:***@localhost:3306/sqld
0 rows affected.

[]

In [10]:
%%sql df <<

SELECT User, Host
FROM mysql.user
;

 * mysql+pymysql://Choonsik:***@localhost:3306/sqld
7 rows affected.
Returning data to local variable df

In [11]:
df = pd.DataFrame(df)
df

               User       Host
0          Choonsik          %
1                JP          %
2               관리자          %
3  mysql.infoschema  localhost
4     mysql.session  localhost
5         mysql.sys  localhost
6              root  localhost

## 권한 관련 명령어

### Authorities
|                                                         권한 | 내용                                                                  |
|-----------------------------------------------------------|---------------------------------------------------------------------|
|                                             ALL PRIVILEGES | 데이터베이스의 모든 권한<br>주로 데이터베이스 관리자에게 사용                                 |
|                                                     SELECT | 데이터를 조회할 수 있는 권한                                                    |
|                                                     INSERT | 테이블에 새로운 레코드를 추가할 수 있는 권한                                           |
|UPDATE| 기존 레코드의 데이터를 수정할 수 있는 권한                                            |
|DELETE| 레코드를 삭제할 수 있는 권한                                                    |
|CREATE| 새로운 테이블이나 데이터베이스를 만들 수 있는 권한                                        |
|DROP| 테이블이나 데이터베이스를 삭제할 수 있는 권한                                           |
|GRANT OPTION| 다른 사용자에게 권한을 부여하거나 회수(취소)할 수 있는 권한                                  |
|ALTER| 테이블 구조를 변경할 수 있는 권한<br>(예: 컬럼 추가, 컬럼 삭제)                            |
|EXECUTE| 저장된 [프로시저](#Procedure)나 함수를 실행할 수 있는 권한                             |
|INDEX| 인덱스를 생성하거나 삭제할 수 있는 권한                                              |
|LOCK TABLES| 특정 테이블에 대해 잠금을 걸 수 있는 권한                                            |
|REFERENCES| 외래 키를 생성할 수 있는 권한                                                   |
|CREATE VIEW| 뷰를 생성할 수 있는 권한                                                      |
|SHOW VIEW| SHOW CREATE VIEW 명령어를 사용하여 뷰의 생성 쿼리를 볼 수 있는 권한                      |
|TRIGGER| 트리거를 생성하거나 삭제할 수 있는 권한                                              |
|                                                   RESOURCE | 데이터베이스 오브젝트를 생성할 수 있는 권한<br>테이블, 뷰, 시퀀스, 프로시저 등을 생성할 수 있는 권한을 포함한다. |

### GRANT
사용자에게 권한을 부여하는 명령어
`GRANT`문을 사용할 때는 해당 권한이 필요한 최소 권한만 부여하는 것이 보안에 좋다.
사용자 계정을 관리하는 권한도 일반 사용자에게 주지 않는 것이 일반적이며,
사용자 계정을 관리하는 권한을 모두 포함한 서버 수준의 권한인 `SUPER`권한은 특정 데이터베이스에 대한 권한을 부여 받는 `ALL PRIVILEGES`과 다름을 주의하자. 
Oracle의 `DBA`는 MySQL의 `SUPER` 권한이나 `WITH GRANT OPTION`이 추가된 `ALL PRIVILEGES` 권한이 준하는 권한 범위를 갖는다고 할 수 있겠다.  
또한, 특정 호스트에서만 접속을 허용하고 싶다면 `hostname`을 localhost가 아닌 해당 호스트의 주소나 IP로 변경해야 한다.

### GRANT authority TO username;
MySQL에서 GRANT 문을 사용하여 권한을 부여할 때는 TO 키워드 앞에 해당 권한을 부여할 데이터베이스와 테이블을 명시해야 하며, 
또한, 사용자 이름 앞에는 @'호스트명' 형식으로 호스트를 명시하는 것과 사용자 이름과 호스트 이름을 작은따옴표(')로 감싸는 것을 권장한다.

In [12]:
%%sql

CREATE USER Choonsik2
IDENTIFIED BY 'ssafy0000'
;

 * mysql+pymysql://Choonsik:***@localhost:3306/sqld
0 rows affected.

[]

In [13]:
%%sql

GRANT ALL PRIVILEGES ON *.*
TO Choonsik2
;

 * mysql+pymysql://Choonsik:***@localhost:3306/sqld
0 rows affected.

[]

### REVOKE
사용자에게 부여된 권한을 회수하는 명령어

### REVOKE authority FROM username;

In [14]:
%%sql

REVOKE ALL PRIVILEGES ON *.*
FROM Choonsik2
;

 * mysql+pymysql://Choonsik:***@localhost:3306/sqld
0 rows affected.

[]

여러 개의 권한을 한번에 부여하고 회수하는 것도 가능하다.

In [15]:
%%sql

GRANT SELECT, INSERT, UPDATE, DELETE ON *.*
TO Choonsik2
;

 * mysql+pymysql://Choonsik:***@localhost:3306/sqld
0 rows affected.

[]

In [16]:
%%sql

REVOKE SELECT, INSERT, UPDATE, DELETE ON *.*
FROM Choonsik2
;

 * mysql+pymysql://Choonsik:***@localhost:3306/sqld
0 rows affected.

[]

## ROLE 관련 명령어
ROLE: 특정 권한들을 하나의 세트처럼 묶는 것

### CREATE ROLE
ROLE을 생성한다.

### CREATE ROLE rolename;

In [17]:
%%sql

CREATE ROLE 관리자
;

 * mysql+pymysql://Choonsik:***@localhost:3306/sqld
(pymysql.err.OperationalError) (1396, "Operation CREATE ROLE failed for '관리자'@'%'")
[SQL: CREATE ROLE 관리자
;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Grant Authority to Role
ROLE에 권한을 부여

### GRANT authority TO rolename;

In [18]:
%%sql

GRANT SELECT, INSERT, UPDATE, DELETE ON *.*
TO 관리자
;

 * mysql+pymysql://Choonsik:***@localhost:3306/sqld
0 rows affected.

[]

### Grant Role to User
사용자에게 ROLE을 부여

### GRANT rolename TO username;

In [19]:
%%sql

GRANT 관리자
TO Choonsik2
;

 * mysql+pymysql://Choonsik:***@localhost:3306/sqld
0 rows affected.

[]

In [20]:
%%sql

DROP USER Choonsik2
;

 * mysql+pymysql://Choonsik:***@localhost:3306/sqld
0 rows affected.

[]

`FLUSH PRIVILEGES;` 명령어는 MySQL에서 사용자 계정이나 권한 설정을 변경한 후, 이러한 변경 사항을 즉시 적용하기 위해 사용된다. 
일반적으로, MySQL은 GRANT, REVOKE, SET PASSWORD와 같은 명령어를 통해 권한이 변경될 때 자동으로 내부 권한 캐시를 갱신한다. 
따라서, 이러한 명령어를 사용할 때는 대부분의 경우 `FLUSH PRIVILEGES;`를 별도로 실행할 필요가 없다.

그러나, 직접 mysql.user 테이블과 같은 시스템 테이블을 변경하여 사용자 계정 정보를 수정한 경우, 
MySQL 서버는 이러한 변경 사항을 자동으로 인지하지 못한다. 
이때 `FLUSH PRIVILEGES;` 명령어를 사용하면, MySQL 서버가 권한 설정을 다시 읽어 변경 사항을 적용하게 된다.

서버를 재시작하는 경우, MySQL은 시스템 테이블에서 권한 설정을 새로 읽어들이기 때문에, 재시작을 통해서도 변경 사항을 적용할 수 있다. 
하지만, 일반적인 운영 환경에서는 서버를 재시작하는 것보다 `FLUSH PRIVILEGES;` 명령어를 사용하여 변경 사항을 적용하는 것이 더 바람직하다. 
이는 서버의 가용성을 유지하면서 필요한 권한 변경 사항을 적용할 수 있기 때문

###### Procedure: 일련의 쿼리를 마치 하나의 함수처럼 실행하기 위한 쿼리의 집합
###### View: 하나 이상의 테이블에서 가져온 데이터를 기반으로 하는 가상 테이블, DB 내의 실제 테이블처럼 보이지만, 데이터를 저장하지 않고 실시간으로 기본 테이블의 데이터를 반영하여 결과를 생성한다.