# DDL(Data Definition Language, 데이터 정의어)

|유형| 데이터 타입                    |
|---|---------------------------|
|문자| CHAR, VARCHAR, TEXT, CLOB |
|숫자| INT, FLOAT, NUMBER, DECIMAL|
|날짜| DATE, TIME, TIMESTAMP      |

### Connect DataBase (MySQL)

In [2]:
%load_ext sql

%sql mysql+pymysql://Choonsik:ssafy0000@localhost:3306/sqld

### 테이블 생성 규칙
- 테이블명은 고유해야 한다.
- 한 테이블 내에서 컬럼명은 고유해야 한다.
- 컬럼명 뒤에 데이터 유형과 데이터 크기가 명시되어야 한다.
- 컬럼에 대한 정의는 괄호() 안에 기술한다.
- 각 컬럼들은 ,(쉼포)로 구분한다.
- 테이블명과 컬럼명은 숫자로 시작될 수 없다.
- 마지막은 ;(세미콜론)으로 끝난다.

### 권장 사항
- 테이블은 각각의 정체성을 나타내는 이름을 가져야 한다.
- 컬럼명은 해당 컬럼이 저장할 데이터의 의미를 나타내는 이름을 가져야 한다.
- 컬럼명은 약어를 사용하지 않으며 다른 테이블과 통일성을 가져야 한다.

### 제약조건 (CONSTRAINT)
CREATE TABLE 명령어를 사용하여 테이블을 생성할 때, 제약조건을 설정할 수 있다.
제약조건은 데이터의 무결성(정확성과 인관성)을 보장한다.
정의해야 할 필수 요소는 아니지만 데이터베이스의 안정성을 높이기 위해 초기에 정의해주는 것을 권장한다.  

| 제약조건                     | 설명                                                                                                      |
|--------------------------|---------------------------------------------------------------------------------------------------------|
| PRIMARY KEY<br>(PK, 기본키) | 테이블에 저장된 각각의 Row에 대한 고유성을 보장<br>한 테이블에 하나씩만 정의가능<br>PK로 지정된 컬럼에는 NULL값이 입력될 수 없고 자동으로 UNIQUE 인덱스로 생성된다. |
| FOREIGN KEY<br>(FK, 외래키) | 하나의 테이블이 다른 테이블을 참조하고자 할 때 사용<br>참조 무결성 옵션이 존재한다.                                                       |
| UNIQUE                   | PK와 같이 테이블에 저장된 각각의 Row에 대한 고유성을 보장하며, NULL값을 허용한다.                                                     |
| NOT NULL                 | 테이블 내에서 특정 컬럼의 값이 NULL이 아니어야 함을 보장하는 제약조건                                                    |
| CHECK                    | 테이블 내에서 특정 컬럼의 값이 특정 조건을 만족해야 함을 보장하는 제약조건                                                  |


|참조 무결성 제약 옵션| 설명                                                   |
|-------------------|------------------------------------------------------|
|CASCADE            | 참조 값이 삭제되면, 해당 데이터를 참조하는 테이블의 데이터도 함께 삭제된다.      |
|SET NULL           | 참조 값이 삭제되면, 해당 데이터를 참조하는 테이블의 데이터를 NULL로 변경한다.       |
|SET DEFAULT        | 참조 값이 삭제되면, 해당 데이터를 참조하는 테이블의 데이터를 기본값으로 변경한다.       |
|RESTRICT           | 자식 테이블에 해당 데이터가 PK로 존재하지 않는 경우에만 부모 값 삭제 및 수정이 가능하다. |
|NO ACTION          | 참조 무결성 제약이 걸려있는 경우 삭제 및 수정 불가                        |

## CREATE
테이블을 생성하기 위한 명령어

```sql
CREATE TABLE tablename (
    columnname1 datatype1 (DEFAULT / NULL 여부),
    columnname2 datatype2 (DEFAULT / NULL 여부),
    ...
);
```

NULL: 공백('')을 허용하는 것이 아니라, 데이터가 없는 것을 허용하는 값 (존재하지 않는 값이라는 의미)
DEFAULT: 데이터의 기본값

In [4]:
%%sql

CREATE TABLE USER (
    id PRIMARY KEY,
    name VARCHAR(20),
    email VARCHAR(30),
    nickname VARCHAR(20),
    address VARCHAR(50),
    phone VARCHAR(20)
);

 * mysql+pymysql://Choonsik:***@localhost:3306/sqld
0 rows affected.

[]

### CTAS
CREATE TABLE ~ AS SELECT ~
기존 테이블의 구조를 복사하여 새로운 테이블을 생성하는 명령어

NOT NULL 조건의 제약조건만 복사되며 기본키, 외래키, 인덱스 등의 제약조건은 복사되지 않는다.
> 필요시 ALTER 명령어를 통해 다시 정의해주어야 한다.

### CREATE new_tablename AS SELECT * FROM existing_tablename

In [5]:
%%sql

CREATE TABLE new_user 
AS SELECT * FROM user
;

 * mysql+pymysql://Choonsik:***@localhost:3306/sqld
0 rows affected.

[]

## ALTER
한 번 생성된 테이블의 구조는 변경하지 않는 것이 일반적이나, 변경이 불가피한 경우 사용된다.

### ADD COLUMN
새로운 컬럼을 추가할 때 사용하는 명령어
추가된 컬럼은 마지막에 위치하며 별도로 위치를 지정해줄 수 없다.

### ALTER TABLE tablename ADD columnname datatype;

In [6]:
%%sql

ALTER TABLE new_user 
ADD age INT
;

 * mysql+pymysql://Choonsik:***@localhost:3306/sqld
0 rows affected.

[]

### RENAME COLUMN
기존 컬럼명을 변경할 때 사용하는 명령어

### ALTER TABLE tablename RENAME COLUMN old_columnname TO new_columnname;

In [14]:
%%sql

ALTER TABLE new_user
RENAME COLUMN age TO user_age
;

 * mysql+pymysql://Choonsik:***@localhost:3306/sqld
0 rows affected.

[]

In [15]:
%%sql

ALTER TABLE new_user
RENAME COLUMN user_age TO age
;

 * mysql+pymysql://Choonsik:***@localhost:3306/sqld
0 rows affected.

[]

### MODIFY COLUMN
기존 컬럼을 변경할 때 사용하는 명령어
데이터 유형, DEFAULT 값, NULL 제약조건을 변경할 수 있다.

주의사항
- 컬럼에 저장된 모든 데이터의 크기가 변경 후 데이터 크기보다 작아야 한다.
- 컬럼에 저장된 데이터가 없는 경우에만 데이터 유형 변경이 가능하다.
- 현재 NULL값이 저장되어 있지 않은 컬럼에만 NOT NULL 제약조건을 추가할 수 있다.
- DEFAULT 값 변경 시 변경 이후부터 저장되는 데이터에만 적용된다.

```sql
ALTER TABLE tablename MODIFY columnname datatype (DEFAULT / NULL 여부);
```

MySQL에서는 여러 컬럼을 한 번에 수정하는 기능을 지원하지 않는다.
```sql
ALTER TABLE tablename MODIFY (
    columnname1 datatype1 (DEFAULT / NULL 여부)
    columnname2 datatype2 (DEFAULT / NULL 여부)
);
```

In [11]:
%%sql

ALTER TABLE new_user
MODIFY name VARCHAR(30) DEFAULT '익명'
;

 * mysql+pymysql://Choonsik:***@localhost:3306/sqld
0 rows affected.

[]

In [12]:
%%sql

ALTER TABLE new_user
MODIFY email VARCHAR(50) NOT NULL
;

 * mysql+pymysql://Choonsik:***@localhost:3306/sqld
0 rows affected.

[]

In [13]:
%%sql

ALTER TABLE new_user
MODIFY nickname VARCHAR(30) NOT NULL
;

 * mysql+pymysql://Choonsik:***@localhost:3306/sqld
0 rows affected.

[]

### ADD CONSTRAINT
테이블에 제약조건을 추가할 때 사용하는 명령어
제약조건명은 데이터베이스 내에서 유일하게 식별될 수 있는 선에서 자유롭게 가능하다.

### ALTER TABLE tablename ADD CONSTRAINT constraintname constrainttype (columnname);

In [16]:
%%sql

ALTER TABLE new_user
ADD CONSTRAINT pk_user_id PRIMARY KEY (id)
;

 * mysql+pymysql://Choonsik:***@localhost:3306/sqld
0 rows affected.

[]

Foreign Key 제약 조건을 추가하는 경우
### ALTER TABLE tablename ADD CONSTRAINT constraintname FOREIGN KEY (childtable_columnname) REFERENCES parenttable(parenttable_columnname);

In [23]:
%%sql



ALTER TABLE new_user
ADD COLUMN user_id INT
;

 * mysql+pymysql://Choonsik:***@localhost:3306/sqld
(pymysql.err.OperationalError) (1060, "Duplicate column name 'user_id'")
[SQL: ALTER TABLE new_user
ADD COLUMN user_id INT
;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

외래 키 제약 조건을 추가할 때는 참조되는 테이블에 적절한 인덱스가 반드시 존재해야 한다.
참조하는 컬럼이 기본 키(PK)이거나, 명시적으로 인덱스가 생성된 상태여야 한다.

### Index
테이블의 검색 성능을 향상시키기 위해 사용되는 데이터베이스 객체
(또는 데이터베이스 관리 시스템(DBMS)의 구조)  

| 종류                             | 설명                                         |
|--------------------------------|--------------------------------------------|
| 단일 컬럼 인덱스                      | 하나의 컬럼에 대한 인덱스                             |
| 복합 컬럼 인덱스| 두 개 이상의 컬럼을 결합한 인덱스                        |
|기본 키 인덱스| 기본 키(PK)에 자동으로 생성되는 인덱스                    |
|외래 키 인덱스| 외래 키(FK)에 생성할 수 있는 인덱스<br>조인 연산의 성능을 향상시킨. |

적절한 인덱스가 없을 경우 아래와 같은 명령어를 사용할 수 있다.
### ALTER TABLE user ADD INDEX (id);

In [28]:
%%sql

ALTER TABLE new_user
ADD CONSTRAINT fk_user_id FOREIGN KEY (user_id) REFERENCES user(id)
;

 * mysql+pymysql://Choonsik:***@localhost:3306/sqld
0 rows affected.

[]