# DML (Data Manipulation Language, 데이터 조작어)

### Connect DataBase (MySQL)

In [1]:
%load_ext sql

%sql mysql+pymysql://Choonsik:malrangcow@localhost:3306/sqld

### INSERT
테이블에 데이터를 입력/추가하는 명령어
PK나 NOT NULL 제약조건이 걸린 컬럼에는 NULL값을 넣을 수 없으므로 주의

### INSERT INTO tablename (columnname1, columnname2, ...) VALUES (data1, data2, ...);

In [2]:
%%sql

CREATE TABLE user (
    id INT PRIMARY KEY,
    email VARCHAR(40),
    password VARCHAR(30)
);

INSERT INTO user (id, email, password) 
VALUES (1, 'malrangcow00@gmail.com', 'malrangcow')
;

 * mysql+pymysql://Choonsik:***@localhost:3306/sqld
0 rows affected.
1 rows affected.

[]

### INSERT INTO tablename VALUES (data1, data2, ...);

In [3]:
%%sql

INSERT INTO user
VALUES (2, 'choonsik@kakaofriends.com', 'choonsik')
;

 * mysql+pymysql://Choonsik:***@localhost:3306/sqld
1 rows affected.

[]

If id is AUTO_INCREMENT, you don't need to insert id.
but cannot omit column name.

In [4]:
%%sql

CREATE TABLE new_user (
    id INT PRIMARY KEY AUTO_INCREMENT,
    email VARCHAR(40),
    password VARCHAR(30)
);

INSERT INTO new_user (email, password) 
VALUES ('malrangcow00@gmail.com', 'malrangcow')
;

INSERT INTO new_user (email, password)
VALUES ('choonsik@kakaofriends.com', 'choonsik')
;

 * mysql+pymysql://Choonsik:***@localhost:3306/sqld
0 rows affected.
1 rows affected.
1 rows affected.

[]

### UPDATE
테이블에 있는 데이터를 수정하는 명령어
WHERE절을 사용하여 조건을 걸어주지 않으면 모든 데이터가 수정된다.

### UPDATE tablename SET columnname1 = data1, columnname2 = data2, ... WHERE condition;

In [6]:
%%sql

UPDATE user
SET 
email = 'choonsik00@kakaofriends.com',
password = 'malrangcow'
WHERE id = 2
;

 * mysql+pymysql://Choonsik:***@localhost:3306/sqld
1 rows affected.

[]

### DELETE
테이블에 있는 데이터를 삭제하는 명령어
WHERE절 조건이 없으면 모든 데이터가 삭제되므로 반드시 주의 !
삭제하려는 의도라면 시스템 부하 측면에서 TRUNCATE TABLE(DDL)을 사용하는 것이 좋다.

### DELETE FROM tablename WHERE condition;

In [8]:
%%sql

DELETE FROM user
WHERE id = 2
;

DELETE FROM new_user
;

 * mysql+pymysql://Choonsik:***@localhost:3306/sqld
0 rows affected.
2 rows affected.

[]