# DML (Data Manipulation Language, 데이터 조작어)

### Connect DataBase (MySQL)

In [2]:
%load_ext sql

%sql mysql+pymysql://Choonsik:malrangcow@localhost:3306/sqld

### INSERT
테이블에 데이터를 입력/추가하는 명령어
PK나 NOT NULL 제약조건이 걸린 컬럼에는 NULL값을 넣을 수 없으므로 주의

### INSERT INTO tablename (columnname1, columnname2, ...) VALUES (data1, data2, ...);

In [12]:
%%sql

CREATE TABLE user (
    id INT PRIMARY KEY,
    email VARCHAR(40),
    password VARCHAR(30)
);

INSERT INTO user (id, email, password) 
VALUES (1, 'malrangcow00@gmail.com', 'malrangcow')
;

 * mysql+pymysql://Choonsik:***@localhost:3306/sqld
0 rows affected.
1 rows affected.

[]

### INSERT INTO tablename VALUES (data1, data2, ...);

In [13]:
%%sql

INSERT INTO user
VALUES (2, 'choonsik@kakaofriends.com', 'choonsik')
;

 * mysql+pymysql://Choonsik:***@localhost:3306/sqld
1 rows affected.

[]

If id is AUTO_INCREMENT, you don't need to insert id.
but cannot omit column name.

In [14]:
%%sql

CREATE TABLE new_user (
    id INT PRIMARY KEY AUTO_INCREMENT,
    email VARCHAR(40),
    password VARCHAR(30)
);

INSERT INTO new_user (email, password) 
VALUES ('malrangcow00@gmail.com', 'malrangcow')
;

INSERT INTO new_user (email, password)
VALUES ('choonsik@kakaofriends.com', 'choonsik')
;

 * mysql+pymysql://Choonsik:***@localhost:3306/sqld
0 rows affected.
1 rows affected.
1 rows affected.

[]