# TCL(Transaction Control Language, 트랜잭션 제어어)

### Connect to DataBase (MySQL)

In [1]:
%load_ext sql

%sql mysql+pymysql://Choonsik:malrangcow@localhost:3306/sqld

Transaction: 더이상 쪼개질 수 없는 업무처리의 최소단위, 데이터베이스에서 하나 이상의 DML 명령어의 실행을 묶는 것 
- 계좌이체를 할 때, 송금자의 계좌에서 출금, 수신자의 계좌에 송금 하는 것을 하나의 단위로 처리해야 한다.
- 이체 중 송금 과정에서 오류가 발생해 실패 했다면, 성공했던 출금과정까지 ROLLBACK 해야 한다.

| 특징                        | 내용                                                                                                                            |
|---------------------------|-------------------------------------------------------------------------------------------------------------------------------|
| 원자성<br>(Atomicity)        | 트랜잭션의 연산은 데이터베이스에 모두 반영되거나 전혀 반영되지 않아야 한다.<br>(모두 성공하거나 모두 실패)                                                                |
| 일관성<br>(Consistency)      | 트랜잭션이 성공적으로 완료된 후, 이전과 같은 일관성있는 데이터베이스 상태가 유지되어야 한다.<br>이체 후에도 금액은 총량은 일정                                                     |
| 독립성 또는 고립성<br>(Isolation) | 둘 이상의 트랜잭션이 병행 실행되는 경우, 어떤 트랜잭션도 다른 트랜잭션 연산에 끼어들 수 없다.<br>먼저 수행 중인 트랜잭션이 끝날 때까지 대기 상태<br>트랜잭션 밖에서는 트랜잭션의 데이터를 참조하거나 변경할 수 없다. |
| 지속성<br>(Durability)        | 성공적으로 완료된 트랜잭션의 결과는 시스템에 영구적으로 반영되어야 한다.<br>시스템에 문제가 생겨도 트랜잭션의 결과는 보존되어야 한다.<br>(시스템 복구를 위함)                                  |

### COMMIT
DML 명령어 실행 후, 변경된 데이터를 데이터베이스에 확정시키고 반영하는 명령어
변경된 데이터를 데이터베이스에 반영하고, 트랜잭션을 종료한다.
COMMIT을 실행하지 않으면, 메모리(휘발성)까지만 변경되고, 데이터베이스에는 반영되지 않는다. (변경사항 조회 불가능)
UPDATE 후 오랜시간 COMMIT을 하지 않으면, Lock이 걸려 다른 사용자가 해당 테이블을 변경할 수 없으므로 주의해야 한다.

### ROLLBACK
트랜잭션의 실행을 취소하고, 변경된 데이터를 이전 상태로 되돌리는 명령어
COMMIT과 같이 UPDATE 후 오랜시간 ROLLBACK을 하지 않으면, Lock이 걸려 다른 사용자가 해당 테이블을 변경할 수 없으므로 주의해야 한다.

### SAVEPOINT
트랜잭션 내에서 특정 지점까지의 작업을 저장하는 명령어
SAVEPOINT를 사용하여 트랜잭션 내에서 특정 지점까지의 작업을 저장하고, 이후 ROLLBACK을 통해 해당 지점까지 되돌릴 수 있다.
이로 인해, 트랜잭션 내에서 전체 작업을 취소할 필요없이 일부 작업만 취소할 수 있다.
COMMIT 또는 ROLLBACK 명령을 실행하면 현재 트랜잭션을 종료하고 모든 저장점을 삭제한다.

MySQL에서는 자동 커밋 모드가 기본적으로 활성화되어 있기 때문에 `SET AUTOCOMMIT = 0;`를 통해 비활성화 시키거나,
BEGIN 또는 START TRANSACTION 명령어를 실행하여 명시적으로 트랜잭션을 시작해야 한다.

In [2]:
%%sql

CREATE TABLE user (
    id INT PRIMARY KEY AUTO_INCREMENT,
    name VARCHAR(20)
)
;

 * mysql+pymysql://Choonsik:***@localhost:3306/sqld
0 rows affected.

[]

In [3]:
%%sql

SET AUTOCOMMIT = 0;
        
START TRANSACTION;

SAVEPOINT create_table;

INSERT INTO user (name)
VALUES ('말랑카우'), ('춘식이')
;

SAVEPOINT add_initial_user;

DELETE FROM user
WHERE name = '말랑카우'
;

SAVEPOINT delete_malrangcow;

ROLLBACK TO add_initial_user;

COMMIT;

 * mysql+pymysql://Choonsik:***@localhost:3306/sqld
0 rows affected.
0 rows affected.
0 rows affected.
2 rows affected.
0 rows affected.
1 rows affected.
0 rows affected.
(pymysql.err.OperationalError) (1305, 'SAVEPOINT add_initial_user does not exist')
[SQL: ROLLBACK TO add_initial_user;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

by magic command, transaction is immediately committed after the each DML execution.
so you have to use console command or python code below

```sql
CREATE TABLE user (
    id INT PRIMARY KEY AUTO_INCREMENT,
    name VARCHAR(20)
)
;

# BEGIN ;

START TRANSACTION;

SAVEPOINT create_table;

INSERT INTO user (name)
VALUES ('말랑카우'), ('춘식이')
;

SAVEPOINT add_initial_user;

DELETE FROM user
WHERE name = '말랑카우'
;

SAVEPOINT delete_malrangcow;

# ROLLBACK TO create_table;
ROLLBACK TO add_initial_user;

COMMIT;
```

```python
import pymysql
conn = pymysql.connect(host='your_host', user='your_user', password='your_password', db='your_db', autocommit=False)
try:
    with conn.cursor() as cursor:
        cursor.execute("BEGIN;")
        cursor.execute("INSERT INTO user (name) VALUES ('말랑카우'), ('춘식이');")
        # 필요한 추가 SQL 명령 실행
        conn.commit() # 또는 필요한 지점에서 롤백
except Exception as e:
    print(e)
    conn.rollback()
finally:
    conn.close()
```

In [4]:
%%sql

DROP TABLE user
;

 * mysql+pymysql://Choonsik:***@localhost:3306/sqld
0 rows affected.

[]

### Example
```sql
CREATE TABLE TABLE1 (
    column1 INT,
    column2 INT
)
;

INSERT INTO TABLE1
VALUES (1, 1)
;

INSERT INTO TABLE1
VALUES (2, 2)
;

CREATE TABLE TABLE2 (
    column1 INT,
    column2 INT
)
;

INSERT INTO TABLE2
VALUES (1, 3)
;

ROLLBACK;

INSERT INTO TABLE2
VALUES (2, 4)
;

COMMIT;

SELECT COUNT(*)
FROM TABLE1 T1, TABLE2 T2
WHERE T1.column1 = T2.column1
```

위 예시 코드의 결과는 사용중인 DBMS가 Oracle인지 MySQL인지에 따라 달라진다.  

두 경우 모두 명시하지 않을 경우 시작과 동시에 Transaction이 시작되고 DDL 수행 시 묵시적으로 COMMIT이 수행된다. (자동 커밋 모드 활성화가 Default)  

하지만 Oracle의 경우 SAVEPOINT 지점이 없는 경우 ROLLBACK 시, 이전 작업만을 취소한다.  
  
반면, MySQL은 SAVEPOINT 지점이 없는 경우 ROLLBACK 시, 아무런 작업도 수행하지 않는다.  

수행 결과는 Oracle의 경우 1, MySQL의 경우 2가 된다. (직접 생각해보시오)