```sql
SELECT *
FROM table_name
ORDER BY DESC
FETCH FIRST n ROWS ONLY
;
```

```sql
SELECT *
FROM table_name
ORDER BY DESC
FETCH NEXT n ROWS ONLY
;
```

using window function
```sql
SELECT *
FROM (
    SELECT (column_name1, column_name2, column_name3
    RANK() 
    OVER(ORDER BY column_name DESC) AS alias
    FROM table_name
)
WHERE alias <= n
;
```

ROWNUM을 기준으로 정렬할 때 ROWNUM을 내림차순 전에 별칭으로 설정해서 활용하지 않도록 주의하자.
```sql
SELECT *
FROM (
    SELECT alias.*
    FROM table_name alias
    ORDER BY column_name DESC
)
WHERE ROWNUM <= n
;
```

### DENSE_RANK()
공동 순위에 속하는 개체를 하나로 취급
ex, 1위(1명) 2위(2명), 3위(3명)
&rarr; RANK()의 경우, 1위(명), 2위(2명), 4위(3명)이 된다.