# Connect DataBase

In [ ]:
%load_ext sql

Using:
1. MySQL

In [ ]:
%sql mysql://username:password@hostname:portnumber/databsename

2. PostgreSQL

In [ ]:
%sql postgresql://username:password@hostname:portnumber/databsename

3. MSSQL

In [ ]:
%sql mssql+pyodbc://username:password@hostname:portnumber/databsename

# Write SQL query

1. One-Line Query

In [ ]:
%sql SELECT * top 10 * FROM log.table WHERE data >= '2024-03-05'

2. Multi-Line Query

In [ ]:
%%sql

SELECT top 10 *
FROM log.table
WHERE data >= '2024-03-05'

3. Get result as Pandas DataFrame

In [ ]:
% sql df2 << SELECT top 10 * FROM log.table

In [ ]:
%%sql df <<
SELECT top 10 *
FROM FROM log.table