# Connect DataBase

In [ ]:
%load_ext sql

Using:
1. MySQL

In [ ]:
%sql mysql://username:password@hostname:portnumber/databsename

2. PostgreSQL

In [ ]:
%sql postgresql://username:password@hostname:portnumber/databsename

3. MSSQL

In [ ]:
%sql mssql+pyodbc://username:password@hostname:portnumber/databsename

# Write SQL query

1. One-Line Query

In [ ]:
%sql SELECT * FROM tablename;

2. Multi-Line Query

In [ ]:
%%sql

SELECT *
FROM tablename
;

3. Get result as Pandas DataFrame

In [ ]:
%sql df2 << SELECT * FROM tablename;

In [ ]:
%%sql df <<

SELECT *
FROM tablename
;

In [ ]:
import pandas as pd

df = pd.DataFrame(df)
df